<article class="<%= item.layout %>">
  <header>
    <%- partial('post/title') %>
    <% if (item.photos){ %>
      <%- partial('post/gallery') %>
    <% } %>
    <div>
      <% if (item.layout != 'page'){ %>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
      <% } %>
    </div>
  </header>
  <section class="post-body">
    <% if (item.excerpt && index){ %>
      <%- item.excerpt %>
    <% } else { %>
      <%- item.content %>
    <% } %>
  </section>
  <div class="clearfix"></div>
  <footer>
    <% if (index){ %>
      <% if (item.excerpt){ %>
        <div class="alignleft">
          <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
        </div>
      <% } %>
      <% if (item.comment && config.disqus_shortname){ %>
      <div class="alignright">
        <a href="<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
      </div>
      <% } %>
    <% } else { %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <%- partial('post/share') %>
    <% } %>
    <div class="clearfix"></div>
  </footer>
</article>

<%- partial('comment') %>